.container {
	padding: 2rem;

	> h1 {
		font-size: 40px;
		text-align: center;
		color: #5949a2;
	}
}

.post-item {
	margin-bottom: 20px;

	h2 {
		color: #222;
		font-weight: 500;
		margin-bottom: 15px;
		font-size: 30px;
	}

	p {
		color: #444;
		font-size: 16px;
		line-height: 1.5;
	}
}
